* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #ffbdb9;
}

.banner {
    display: flex;
     height: 300vh;
    width: 100%;   
}

header h1,
header p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    border: solid 3px red;
    width: 100%;
    height: 50px;

}

main {
    width: 300px;
    margin: auto;
    border: solid 2px red;
    padding: 20px;
    
    
    
   
}

li {
    list-style: inside;
    text-align-last:left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.button {
    text-align: center;
}

div p {
    font-size: 20px;
}


    
    
