* {
    margin: 0;
    
    border: 0;
    
}

body {
    background-color: #ffbdb9;
}



img {
    position: flex;
    height: 200px ;
    width: 100%;
    }

header h1,
header p {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid 5px red;
    font-size: 50px;    
}

.container {
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
   height: 200px;
   
   
   
}

.container h1 {
    
     font-size: 20px;
     font-family: 'Times New Roman', Times, serif;
    }

.list {
    border: solid 3px red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    height: 90%;
    padding: 30px;
    
}

    
